
body {
    background-color: rgba(136, 136, 136, 0.2);
}


h1 {
    color: black;
    text-align: center;
    font-family: serif ;
    font-size: 300%;
    border-radius: 15px; 
    background-color: rgba(122, 122, 122, 0.685);
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 175px 175px;
    gap: 30px; 
    text-align: center; 
}

#container3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 175px 175px; 
    gap: 30px; 
    text-align: center; 
}

p
{
    color: black;
    font-family: verdana;
    font-size: 175%;
    margin: 5%;
    margin-bottom: 2; 
    font-family: serif ; 
}

#container > div
{
    border-radius: 15px; 
    background-color: rgba(122, 122, 122, 0.685);
    border: 2px  solid red;
}

#containercolor
{
    border-radius: 15px; 
    background-color: rgba(122, 122, 122, 0.685);
    border: 2px  solid red;
}


